# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

sdkg_output/
data/nodes/
clear-backend/app/__pycache__
clear-backend/app/api/v1/__pycache__
clear-backend/app/api/__pycache__
clear-backend/app/core/__pycache__
data_s/
data/
output/
segments.json
data/segments.json
data/sdkg_index.json
SAVE
VISTA_partial
clear-backend/data
task_storage
update_task_storage
clear-backend/data copy
clear-backend/vista/results
clear-backend/vista/results_s
clear-backend/vista/results_2
clear-backend/data——test
config_back.yaml
clear-backend/data_dk_and_us
clear-backend/vista copy